extends layout

block content
  include author
  - var cont = 0;
  each article in articles
    - var tags = env.helpers.getTagsFromArticle(article)
    if cont%2 === 0
      hr.featurette-divider
      .row.featurette
        .col-md-8
          h2.featurette-heading
            a(href=article.url)= article.title
          p.lead
            !{ typogr(article.intro).typogrify() }
          p.date
            span= moment.utc(article.date).format('DD. MMMM YYYY')
          ul.tag-list
            each tag in tags
              li
                a.tag(href=env.helpers.getTagHome(tag).url)= "#"+tag
        .col-md-4.text-right
          img.post-img(alt='texto alternativo', src='img/250x250.jpeg')
    else
      hr.featurette-divider
      .row.featurette
        .col-md-4
          img.post-img(alt='texto alternativo', src='img/250x250.jpeg')
        .col-md-8.text-right
          h2.featurette-heading
            a(href=article.url)= article.title
          p.lead
            !{ typogr(article.intro).typogrify() }
          p.date
            span= moment.utc(article.date).format('DD. MMMM YYYY')
          ul.tag-list
            each tag in tags
              li
                a.tag(href=env.helpers.getTagHome(tag).url)= "#"+tag
    - cont = cont + 1;
  
  div.pageNav
    if prevPage
      a(href=prevPage.url) « Posts anteriores
    if nextPage
      a(href=nextPage.url) Próxima página »
