doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Didact+Gothic')
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/main.css')
      script(type="text/javascript", src="/scripts/google-analytics.js")        
  body(class=bodyclass)
    header.header
      .navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href=locals.url) Beco Geek
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='#') Loren
              li
                a(href='#about') Ipsun
              li
                a(href='#contact') Dolar Sit
            ul.nav.navbar-nav.navbar-right
              li
                a.icon(href='')
                  //-img(alt='Curtir', src='/img/like.png')
              li
                a.icon(href='')
                  //-img(alt='Twitter', src='/img/twitter.png')
      div#banner
        .banner-home
          img(alt='', src='/img/banner-home.jpg')
        block header
          div.logo.container.marketing
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description
    div.container.marketing
      block content
    footer
      - var alltags = env.helpers.getAllTags()
      ul.wordcloud
        each tag in alltags
          li
            a.tag(href=env.helpers.getTagHome(tag).url)= "#"+ tag
      div
        block footer
          section.copy
            p -- &copy; #{ new Date().getFullYear() } #{ locals.owner } --